.img-frame{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 10px;



}

.itim-regular {
    font-family: "Itim", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.font-medium {
    font-size: 18px;


  }
.font-big {
    font-size: 24px;


  }
p {
    font-size: 24px;


  }